* {
    background: black;
    color: white;
    text-align: center;
}

.intro {
    font-size: xx-large;
    padding: 0px;
    margin-top : 0px;
}

.intro-img {
    width: 40%;
}

.dataButton {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    margin-left: 45%;
    height: 10%;
    width: 10%;
    outline: solid 3px;
    background-color: blue;
}

.dataButton:hover {
    width: 15%;
    height: 15%;
    border: solid 5px red;
}
